Package: bip
Version: 0.0-1
Section: net
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.4-1)
Installed-Size: 172
Maintainer: Arnaud Cornet <nohar@t1r.net>
Description: multiuser irc proxy with ssl, conversation replay and more
 Bip is a IRC proxy that supports as replaying logged conversation when a client
 connects, multiple clients on one irc server connection, SSL support (on both
 ends) and has a handy logging directory structure. It is multiuser, and has a
 flexible configuration. Some of it's configuration can be changed at runtime
 with special irc commands.
