Source: bip
Section: net
Priority: optional
Maintainer: Arnaud Cornet <arnaud.cornet@gmail.com>
Standards-Version: 3.6.2.1
Build-Depends: cdbs, debhelper (>= 4.9.13), bison, flex

Package: bip
Architecture: any
Depends: ${shlibs:Depends}
Description: multiuser irc proxy with conversation replay and more
 Bip is a IRC proxy that supports replaying logged conversation when a client
 connects, multiple clients on one irc server connection, It has a handy
 logging directory structure. It is multiuser, and has a flexible
 configuration. Some of it's configuration can be changed at runtime with
 special irc commands.
