Source: bip
Section: net
Priority: optional
Maintainer: Arnaud Cornet <nohar@t1r.net>
Standards-Version: 3.6.1.1
Build-Depends: cdbs, libssl-dev, bison, flex, libc6-dev

Package: bip
Architecture: any
Depends: ${shlibs:Depends}
Description: multiuser irc proxy with ssl, conversation replay and more
 Bip is a IRC proxy that supports as replaying logged conversation when a client
 connects, multiple clients on one irc server connection, SSL support (on both
 ends) and has a handy logging directory structure. It is multiuser, and has a
 flexible configuration. Some of it's configuration can be changed at runtime
 with special irc commands.
